:80 {
  root * /srv/frontend
  file_server

  # Prefix NICHT strippen:
  handle /api/* {
    reverse_proxy backend:8080
  }
  
  handle /* {
  try_files {path} /index.html
  file_server
}

  @assets {
    path *.js *.css *.png *.jpg *.jpeg *.gif *.svg *.ico *.webp *.woff *.woff2
  }
  header @assets Cache-Control "public, max-age=600, immutable"
}
